.App {
  text-align: center;
}

.menu { /*ul del header*/
  font-family: arial;
  font-size: 10pt;
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

.topBlue {
  background-color: #000000;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40 px !important;
}
h1{
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40px !important;
  color: #FFFFFF
}

.menuItem, .menuItem h3
{
  max-width: 10%;
  display: inline;
  margin: 0 10px;
}
.menuItemIzq
{
  text-align:left;
}
.menuItemIzq
{
  text-align:right;
}
.actualizaciones.container{
  margin: 5% 5%;
  padding-bottom: 2%;
  border: 1px solid green;
  padding-top: 1%;
  border-radius: 20px;
  text-align: center;
}

h1, h2, h3, h4, h5, p, label, button
{
  font-family: 'Sulphur Point', sans-serif;

} 
.updateRec{
  font-family: 'Sulphur Point', sans-serif;
}

.container
{
  margin: 5% 25%;
  padding-bottom: 2%;
  padding-top: 1%;
  background-color: #ece9e9d6;
  border-radius: 20px;

}

.adminPanel{
  font-size: 30px;
}

button {
  margin: 0 10px;
  border: none;
  background: #0c0c0cb3;
  color: #ffffff !important;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}
button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    background-color: #8db9e6;
  } 

  .divBotones
  {
    margin-top: 10px 
  }
  
  table, td, th {
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
  }
  
  table {
    width: 100%;
  }
  td{
    border-bottom: 0.3px solid rgb(0, 0, 0) !important;
    background-color: white;
  }
  
  th {
    height: 50px;
    background-color: black;
    color: white;
    box-shadow: white;
  }

  .tabla{
    overflow-x:auto;
    padding: 0 5%;
  }
  .containerTabla
  {
    margin: 5% 10%;
    padding-bottom: 2%;
    padding-top: 1%;
    background-color: #ece9e9d6;
    border-radius: 20px;
  
  }
  
  .panelAdmin
  {
    padding-left: 0px;
  }

  a
  {
    text-decoration: none;
    color: #656565;
  }

  a:hover
  {
    color: #478ad0;
  }