.App {
  text-align: center;
}

.menu { /*ul del header*/
  font-family: arial;
  font-size: 10pt;
  color: blue;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

.topBlue {
  background-color:rgb(255, 255, 255);
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40 px !important;
}
h1{
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40 px !important;
}


