.App {
  text-align: center;
}

.menu { /*ul del header*/
  font-family: arial;
  font-size: 10pt;
  color: blue;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

.topBlue {
  background-color: #000000;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40 px !important;
}
h1{
  font-family: 'Sulphur Point', sans-serif;
  font-size: 40px !important;
  color: #FFFFFF
}

h1, h2, h3, h4, h5, p
{
  font-family: 'Sulphur Point', sans-serif;

} 

.container
{
  margin: 5% 25%;
  padding-bottom: 2%;
  padding-top: 1%;
  background-color: #ece9e9d6;
  border-radius: 20px;

}

button {
  margin: 0 10px;
  border: none;
  background: #0c0c0cb3;
  color: #ffffff !important;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    background-color: #8db9e6;
  } 

  .divBotones
  {
    margin-top: 10px 
  }
  
